// === reset ===

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  display: flex;
  li {
    list-style: none;
    a {
      text-decoration: none;
    }
  }
}

body {
  display: grid;
  margin: 0;
}
// === / reset ===

.container {
  width: 100%x;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

// === Header ===
.header {
  &__inner {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: flex-end;
  }
  &__logo {
  }
}
.nav {
  &__list li {
    padding: 0 20px;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }
}
.nav__list a {
  text-transform: uppercase;
  color: $black;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  transition: all 0.2s ease-in-out;
  &:hover {
    color: $pink;
  }
}


// === / header ===

// === intro ===

.intro{
  &__img{
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    z-index: -1;
  }
  &__img img{
    display: block;
    width: 100%;
  }
}