// === reset ===

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  display: flex;
  li {
    list-style: none;
    a {
      text-decoration: none;
    }
  }
}

body {
  // display: grid;
  margin: 0;
}
// === / reset ===

// === global ===
.container {
  width: 100%x;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  text-transform: uppercase;
  color: #fff;
  background: $pink;
  padding: 20px 15px;
  border: 0;
  outline: none;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  transition: all 0.2s ease-in-out;
  font-size: 16px;
  &:hover {
    background: $dark-pink;
    color: #000;
  }
  &:active {
    border: 0px;
    outline: none;
  }
  &--round {
    border-radius: 30px;
    width: 170px;
  }
}

a {
  text-decoration: none;
  color: $link-color;
  transition: all 0.2s ease-in-out;
  &:hover {
    color: $pink;
  }
}
// === / global ===

// === Header ===
.header {
  &__inner {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: flex-end;
  }
  &__logo {
  }
}
.nav {
  &__list li {
    padding: 0 20px;
    cursor: pointer;
   
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }
}
.header.fixed{
    position: fixed;
    background: $pink;
    width: 100%;
    z-index: 100;
    .header__inner{
      display: flex;
      justify-content: center;
    }
    .header__logo{
      display: none;
    }
    li{
      margin: 20px;
    }
    a{
      color: #fff;
      &:hover{
        color: #000;
      }
    }
    
  
}
.nav__list a {
  text-transform: uppercase;
  color: $black;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  transition: all 0.2s ease-in-out;
  &:hover {
    color: $pink;
  }
}

// === / header ===

// === intro ===
.intro {
  padding-top: 80px;
  background: url(../img/leaf.png) no-repeat left center / 12%;

  &__img {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    z-index: -1;
  }
  &__img img {
    display: block;
    width: 100%;
  }
  &__inner {
    width: 50%;
    padding-left: 100px;
  }
  &__subtitle {
    color: $pink;
    text-transform: uppercase;
    font-size: 15px;
    font-family: "Rufina", serif;
    letter-spacing: 1.5px;
    font-weight: 300;
    line-height: 27px;
    margin-bottom: 20px;
  }
  &__title {
    font-size: 49px;
    font-family: "Rufina", serif;
    margin-bottom: 25px;
    line-height: 60px;
  }
  &__text {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 27px;
    color: $text;
    margin-bottom: 50px;
  }
  &__link {
    color: $text;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    padding-left: 60px;
    &:hover svg {
      background: $pink;
      fill: #fff;
      border-radius: 50%;
    }
  }
  &__icon {
    height: 40px;
    width: 40px;
    position: relative;
    top: 15px;
    fill: $pink;
  }
}
// === / intro ===

// === about ===
.about {
  text-align: center;
  &__row {
    margin-top: 200px;
    position: relative;
    padding: 0 100px;
  }
  &__flower-left {
    position: absolute;
    top: 0;
    left: 0;
  }
  &__flower-right {
    position: absolute;
    top: 50%;
    right: 0;
  }
  &__image {
    margin: 0 0 40px;
  }
  &__subtitle {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    color: $link-color;
    line-height: 0.8;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0 0 27px 0;
  }
  &__title {
    color: $black;
    font-size: 42px;
    margin: 0 0 32px 0;
    font-family: "Rufina", serif;
  }
  &__text {
    font-family: "Roboto", sans-serif;
    color: $link-color;
    font-size: 15px;
    font-weight: 300;
    line-height: 27px;
    margin: 0 0 70px 0;
  }
}

// === / about ===

// === service ===
.service {
  &__row {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
  }
  &__link {
    width: 25%;
    position: relative;
  }
  &__img {
    max-width: 100%;
    display: block;
    border-right: 5px solid #fff;
  }
  &__img-mask {
    display: flex;
    border-right: 5px solid #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    background: $pink;
    width: 100%;
    height: 100%;
    background-color: &pink;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    &:hover {
      opacity: 0.8;
    }
    & p {
      color: #fff;
      font-family: "Rufina", serif;
      font-size: 15px;
      margin-top: 20px;
    }
  }
}

// === service ===

// === procedures ====
.procedures .container {
  max-width: 730px;
}
.pocedures__row {
  margin: 100px 0;
  text-align: center;

  & h2 {
    font-family: "Rufina", serif;
    font-size: 42px;
    line-height: 1.2;
  }
  & p {
    margin-top: 32px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: $link-color;
    line-height: 27px;
  }
}
// === / procedures ====

// === testimonials ===
.testimonials {
  &__row {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    text-align: center;
    width: 33.33333%;
    max-width: 350px;
    margin: 10px;
    padding: 20px;
    border: 1px solid #eee;
  }
  &__img {
    display: block;
    width: 100%;
  }
  &__title {
    margin-top: 35px;
    font-family: "Rufina", serif;
    font-size: 22px;
  }
  &__text {
    margin: 35px 0 39px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 27px;
    color: $text;
  }
}

// === / testimonials ===

// === testimonials-slider ===
.testimonials-slider {
  font-family: "Rufina", serif;
  font-size: 18px;
  line-height: 35px;
  font-weight: 400;
  color: $text;
  text-align: center;
  &__img img {
    border-radius: 50%;
    margin-top: 40px;
  }
  &__item {
    max-width: 920px;
    margin: 100px auto 0;
  }
  &__name {
    font-family: "Rufina", serif;
    font-size: 22px;
    line-height: 35px;
    font-weight: 400;
  }
  &__job {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 300;
  }
}
