// === 991 px ===
@media(max-width: 991px) {
    .nav{
        display: none;
        grid-column: 2/3;
        grid-row: 2/3;
        &__list{
            flex-direction: column;
        & li{
            padding: 0;
        }
        }
    }
    .nav.show{
        display: block;
    }
    .burger{
        display: block;
        padding: 20px 0;
       
    }
    .header.fixed .header__inner {
        justify-content: flex-end;
        align-items: start;
    }
}
// === / 991 px ===

// === 767px ===
@media (max-width: 767px) {
  .container{
      max-width: 540px;
  }
  .nav__list li:hover{
      background: #000;
  }
  .intro__img img{
      display: none;
  }
  .intro__inner{
      width: 100%;
  }
}
// === / 767px ===
